.mdl-layout__content {
	flex: 1 0 auto;
}

.error-text {
	color: #ff5555;
}

.button-div {
	margin: 10px 5px;
}

.button-div button {
	margin: 7px 5px;
}

.mdl-layout__obfuscator.is-visible, .mdl-layout__drawer.is-visible {
	position: fixed;
}