.mdl-layout__content {
	flex: 1 0 auto;
}

.error-text {
	color: #ff5555;
}

.button-div {
	margin: 5px 10px;
}

.button-div button {
	margin-left: 5px;
}

.mdl-layout__obfuscator.is-visible, .mdl-layout__drawer.is-visible {
	position: fixed;
}