@import models.User
@import scala.collection.immutable.List

@(title: String, styles: List[String] = List(), scripts: List[String] = List(), user: User = null)(content: Html)

@templStyles= @{List(routes.Assets.versioned("stylesheets/standard-one.css").url, routes.Assets.versioned("stylesheets/standard-page.css").url)}
@templScripts = @{List()}
@main(title, templStyles ::: styles, templScripts ::: scripts, user) {
	<main class="mdl-layout__content standard-page">
		<div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell">
			@content
		</div>
	</main>
	@footer(user)
}